---
let { iconPosition, text, link, ariaLabel } = Astro.props;
---

<a class="button" href={link} target="_blank" aria-label={ariaLabel}>
  {
    iconPosition === "left" ? (
      <div class="icon">
        <slot />
      </div>
    ) : null
  }
  {text && <span>{text}</span>}
  {
    iconPosition === "right" ? (
      <div class="icon">
        <slot />
      </div>
    ) : null
  }
</a>

<style>
  .button {
    display: flex;
    width: 79px;
    height: 79px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #151515;
    border: none;

    /* botones */
    box-shadow: 0 3px 11px var(--spread, 5px) rgba(56, 94, 178, 0.35);
    transition: box-shadow 0.3s ease-in-out;
  }
  .icon {
    transition: transform 0.3s ease-in-out;
  }
  .button:hover {
    box-shadow: 0 3px 19px var(--spread, 10px) rgba(193, 203, 224, 0.35);
  }
  .button:hover .icon {
    transform: scale(1.1);
  }

  /* button:active {
    box-shadow: 0 3px 6px var(--spread, 5px) rgba(56, 94, 178, 0.35);
  } */
</style>
