---
const { colorPC, colorMobile } = Astro.props;
---

<div
  style={`--colorPC: ${colorPC}; --colorMobile: ${colorMobile};`}
  class="circle"
>
</div>
<style>
  .circle {
    width: 520px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 544px;
    background-color: var(--colorPC);
    filter: blur(100.25px);
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media (max-width: 760px) {
    .circle {
      width: 60vw;
      height: 60vw;
      filter: blur(60.25px);
      background-color: var(--colorMobile);
    }
  }
</style>
