---
const { tittle, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, "
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{tittle || "Gouseppe - Portafolio"}</title>
    <meta
      name="description"
      content={description || "Portafolio de Gouseppe"}
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* variables */
  :root {
    --font-size-base: 20px;
    --font-size-sub-tittle: 32px;
    --font-size-tittle: 48px;
  }
  * {
    box-sizing: border-box;
  }
  p {
    margin: 0;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #05010d;
    font-size: var(--font-size-base);
  }
  @media (max-width: 760px) {
    :root {
      --font-size-base: 16;
      --font-size-sub-tittle: 24px;
      --font-size-tittle: 38px;
    }
  }
</style>
